执行以下SQL命令，为t_post和t_comment表添加缺失的审核字段：
ALTER TABLE t_post ADD COLUMN review_reason VARCHAR(255) DEFAULT NULL COMMENT '审核原因';
ALTER TABLE t_post ADD COLUMN review_time DATETIME DEFAULT NULL COMMENT '审核时间';
ALTER TABLE t_comment ADD COLUMN review_reason VARCHAR(255) DEFAULT NULL COMMENT '审核原因';
ALTER TABLE t_comment ADD COLUMN review_time DATETIME DEFAULT NULL COMMENT '审核时间';
ALTER TABLE t_post ADD COLUMN update_time DATETIME DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间';
